# Database
DB_TYPE=pg
DB_HOST=localhost
DB_USER=postgres
DB_PASSWORD=123456
DB_PORT=5432
DB_DATABASE=employee_service

# JWT / SECRET
JWT_SECRET=c7c5f8d1a7b84e6a6c8b0f95c4b3e9a0f57e9d4a3c8a4b3d7e1f9b2c5d6e4f1
SECRET_KEY=app_secret_key_123456
SECRET_KEY_ADMIN=admin_secret_key_789101
JWT_SMS_KEY=sms_jwt_key_112233

# JWT Expiry
JWT_REFRESH_TIME=86400 # 24h
JWT_EXPIRE_ADMIN=86400 # 24h
JWT_EXPIRE_VERIFY_EMAIL=300 # 5 phút

# Prefix
PREFIXADMIN=admin

# Others
TIMEOUT_DELETE_FILE=6000
NEXT_PUBLIC_API_HOST=4000

# Port
AUTH_SERVICE_URL= http://localhost:4001


